<!DOCTYPE html>
<html lang="pt" ng-app="rpsApp">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
  
  <script>

angular.module('rpsApp', [])
  .controller('RpsController', function($scope) {

    $scope.linha20 = "";

    $scope.extrairSubstring = function(posicaoInicial, posicaoFinal) {
        return $scope.linha20.substring(posicaoInicial - 1, posicaoFinal);
    }

    $scope.campos = [];

  });

  </script>

</head>
<body ng-controller="RpsController">
      <div class="py-10">
        <header>
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">RPS</h1>
          </div>
        </header>
        <main>
          <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div>
                <div class="mt-6 border-t border-gray-100">
                  <dl class="divide-y divide-gray-100">
                    <div class="sm:col-span-4 mt-5">
                        <label for="linha20" class="block text-sm font-medium leading-6 text-gray-900">Registro Tipo 20</label>
                        <div class="mt-2">
                          <input name="linha20" type="text" ng-model="linha20" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                      </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0" ng-repeat="item in campos">
                      <dt class="text-sm ">
                        <p class="font-medium leading-6 text-gray-900">{{item.campo}}</p>  
                        <span class="text-gray-400">{{item.conteudo}}</span>
                      </dt>
                      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-2">{{extrairSubstring(item.posicao_inicial,item.posicao_final)}}</dd>
                    </div>
                  </dl>
                </div>
              </div>
          </div>
        </main>
      </div>


   
</body>
</html>